@import "../fonts/iconfont.css";
* {
    margin: 0;
    padding: 0;
}

/*重写nav-menu 样式 start*/
.el-menu--horizontal {
    border-bottom: none !important;
}

.el-menu {
    border-right: none !important;
}

/*重写nav-menu 样式 end*/

/*重写el-header 样式 start*/
.el-header {
    padding: 0 !important;
}

/*重写el-header 样式 end*/

/*layout-main start*/
.layout-main{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}
