@import "../fonts/iconfont/iconfont.css";

*{
    margin: 0;
    padding: 0;
}

.left-bar{
    height:calc(100vh);
    background-color: rgb(84, 92, 100);
}

/*重写nav-menu 样式 start*/
.el-menu{
    border-right:none !important;
}
/*重写nav-menu 样式 end*/


/*重写el-header 样式 start*/
.el-header{
    padding: 0 !important;
}
/*重写el-header 样式 end*/

.top-bar-expand{
    height: 60px;
    line-height:60px;
    padding: 0 15px;
    background-color: #fff;
    border-bottom: solid 1px #e6e6e6;
    min-width: 100px;

}

.top-bar-expand-span{
    cursor: pointer;
}

.top-bar-expand i{
    font-size:24px;

}

/*面包屑和历史tab start*/
.header-operation{
    height: 35px;
    line-height: 35px;
    background-color:#f5f4f4;
}

.header-operation-breadcrumb {
    display: inline-block;
    min-width: 230px;
    padding-left: 10px;

}

.header-operation-history-tabs{
    display: inline-block;
}
/*面包屑和历史tab end*/
